<!DOCTYPE html>
<html>
	<head>
		<title>A Week In the News</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='metrics-graphics-2.10.1/dist/metricsgraphics.css') }}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
<!-- 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>		
		<script src="https://d3js.org/d3.v3.min.js"></script>		
		<script src="https://d3js.org/d3.v4.min.js"></script>		
 		<script src="{{ url_for('static', filename='metrics-graphics-2.10.1/dist/metricsgraphics.min.js') }}"></script>	 -->	
	</head>
	{% block content %} 
	{% endblock %}
</html>