{% extends "base.html" %}
{% block content %}
	<body>
	<nav>
		<div class="nav-wrapper indigo lighten-1">
			<form action="{{ url_for('search') }}" method="post">
				<div class="input-field">
					<input id="query" type="search" name="query" required>
			        <label for="query"><i class="material-icons">search</i></label>
			        <i class="material-icons">close</i>
		        </div>
			</form>
		</div>
	</nav>
	<div id="graphs-container">
		<div class="row">
		{% if lengths|length > 0 or keywords|length > 0 %}
			<div class="col s12 center-align">
				<h3 class="header" id="title">"{{query}}"</h3>
			</div>
			<div class="col s12 m8 center-align">
				<div class="card white">
					<div class="card-content">
						<span class="card-title subtitle">Articles Published</span>
						<div id = "chart"></div>
					</div>
				</div>
				<div class="card white">
					<div class="card-content">
						<span class="card-title subtitle">Keywords Used in Articles</span>
						<div id= "bubble-chart"></div>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div id ="articles-card">
				<div class="card">
					<div class="card-content" >
						<span class="card-title subtitle" id="article-header">Articles</span>
						<div id="display-arts">
							<p>Hover over the graphs to find articles on "{{query}}."</p>
						</div>
					</div>
				</div>
				</div>
			</div>
		{% else %}
			<div class="col s12 center-align">
				<h3>Sorry...</h3>
				<p>We couldn't find anything matching your query. Try a different search, such as 'America', 'Trump', or 'Hillary'.</p>
			</div>
		{% endif %}
		</div>
	</div>
</body>

<script>
	var all_articles = {{articles | safe}};
	var article_data = {{ lengths | safe }};
	var keywords = {{ keywords | safe }};
	var query = "{{query}}";
</script>
<script src="{{ url_for('static', filename='search_script.js') }}"></script>

{% endblock %}

