{% extends "base.html" %}
{% block content %}
	{% if lengths|length > 0 or keywords|length > 0 %}
		<div class="col s12 center-align">
			<h3 id="title">"{{query}}"</h3>
		</div>
		<div class="col s8 center-align" style="margin-left: -5rem;">
			<h5>Articles Published</h5>
			<div id = "chart"></div>
			<h5>Keywords Used in Articles</h5>
			<div id= "bubble-chart"></div>
		</div>
		<div class="col s4">
			<h5 id="article-header">Articles</h5>
			<div id="display-arts"></div>
		</div>
	{% else %}
		<div class="col s12">
			<h3>Sorry...</h3>
			<p>We couldn't find anything matching your query. Try a different search, such as 'America', 'Trump', or 'Hillary'.</p>
		</div>
	{% endif %}

	<script  src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="{{ url_for('static', filename='metrics-graphics-2.10.1/dist/metricsgraphics.min.js') }}"></script>
	<script>
		var all_articles = {{articles | safe}};
		var article_data = {{ lengths | safe }};
		var data = [];
		for (var prop in all_articles) {
			var d = new Date(prop);
			d.setTime( d.getTime() + d.getTimezoneOffset()*60*1000 );
			console.log(prop);	
			console.log(d);
			data.push({'date': d, 'value': all_articles[prop] != null ? all_articles[prop].length : 0 });
		}

		console.log(data);

		MG.data_graphic({
		    data: data,
		    width: 900,
		    height: 600,
		    target: '#chart',
		    x_accessor: 'date',
		    y_accessor: 'value',
		    color: '#82b1ff',
		    mouseover: function(d, i) {
            // custom format the rollover text, show days
            d3.select('#custom-rollover svg .mg-active-datapoint')
                .text(d.date + ': ' + d.value);

            var dateToShow = format(d.date, 'yyyy-MM-dd');
            console.log(dateToShow);
            //console.log(all_articles[dateToShow]);
            displayArticles(all_articles[dateToShow], String(d.date).substring(4, 15));
        }
		})

		var keywords = {{ keywords | safe }};
		var keyword_data = [];
		for (var prop in keywords) {
			keyword_data.push({'name': prop, 'size': keywords[prop]});
		}

		keyword_data.sort(function(a, b) { 
		    return b.size - a.size;
		})

		keyword_data = keyword_data.slice(0, 29);

		var diameter = 900;
		var color = d3.scale.category20c();

	    var svg = d3.select('#bubble-chart').append('svg')
	                    .attr('width', diameter)
	                    .attr('height', diameter);

	    var bubble = d3.layout.pack()
	                .size([diameter, diameter])
	                .value(function(d) {return d.size;})
	         // .sort(function(a, b) {
	                //  return -(a.value - b.value)
	                // }) 
	                .padding(3);
	  
		  // generate data with calculated layout values
		  var nodes = bubble.nodes({children: keyword_data})
		                        .filter(function(d) { return !d.children; }); // filter out the outer bubble
		 
		  var vis = svg.append("g")
		  				.selectAll('circle')
		                .data(nodes);
		  
		  vis.enter().append('circle')
		  			.style("fill", function(d) { return color(d.name); })
		            .attr('transform', function(d) { return 'translate(' + d.x + ',' + d.y + ')'; })
		            .attr('r', function(d) { return d.r; })
	            .append("text")
		      .attr("dy", ".3em")
		      .style("text-anchor", "middle")


		 vis.enter().append('text')
		 	.attr("x", function(d){ return d.x; })
	        .attr("y", function(d){ return d.y + 5; })
	        .attr("text-anchor", "middle")
		 	.text(function(d) { return d.name })
		 	.style({
	            "color":"white", 
	            "font-family":"Helvetica Neue, Helvetica, Arial, san-serif",
	            "font-size": "12px"
	        });

	    function displayArticles(arts, date) {
	    	var htmlStr = '';
	    	if (arts != null) {
	    		$('#article-header').html('<h5>Articles published on <span style="color:#42a5f5;">' + date + '</span></h5>');
		    	for (var i=0; i < arts.length; i ++) {
		    		var thisArt = arts[i];
		    		htmlStr += '<div class="section">';
		    		htmlStr += '<h6><a target="_blank" href="' + thisArt.url + '">' + thisArt.title + '</a></h6>';
		    		if (thisArt.keywords != null) {
		    			htmlStr += '<span>Keywords</span>: ';
			    		for (var j=0; j < thisArt.keywords.length; j++) {
			    			htmlStr += '<div class="chip"><a href="/results/' + thisArt.keywords[j] + '">' + thisArt.keywords[j] + '</a></div>';
			    		}
		    		}
		    		htmlStr += '</div>';
		    		htmlStr += '<div class="divider"></div>';
		    	}
		    	$('#display-arts').html('');
		    	$('#display-arts').html(htmlStr);
	    	}
	    }

		format = function date2str(x, y) {
		    var z = {
		        M: x.getMonth() + 1,
		        d: x.getDate(),
		        h: x.getHours(),
		        m: x.getMinutes(),
		        s: x.getSeconds()
		    };
		    y = y.replace(/(M+|d+|h+|m+|s+)/g, function(v) {
		        return ((v.length > 1 ? "0" : "") + eval('z.' + v.slice(-1))).slice(-2)
		    });

		    return y.replace(/(y+)/g, function(v) {
		        return x.getFullYear().toString().slice(-v.length)
		    });
		} 

	</script>

{% endblock %}

